.Menubar {
	width: 100%;
	height: 70px;
	background-color: #4C8593;
}

.Menubar .Navi {
	padding: 5px;

}

.Menubar .Navi a {
	color: black;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.Menubar .Navi a img {
	background-color: white;
	border-radius: 5px;
	margin-top: -10px;
	height: 50px;
	width: 80px;
}

.Menubar .Navi a:hover {
  color: white;
  line-height: 15px;
  border-radius: 50px;
}

.Menubar .Navi a.active {
	font-size: 20px;
	color: white;
	line-height: 30px;
    border-radius: 50px;
}

.search_bar {
	display: block;
	float: right;
	margin-top: -70px;
}

.search_bar img {
	width: 25px;
	height: 24px;
}

/*************************************/

.Middle {
	width: 100%;
}

.Middle img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	height: 50%;
	width: 50%;
	align-items: center;
}

/*************************************/

.Table1 {
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.Table1 .edit {
	height: 32px;
	font-size: 17px;
	color: white;
	background-color: #3ba378;
	border-radius: 15px;
	border: 2px solid #3ba378;
}

.Table1 .edit:hover {
	background-color: #adccbf;
	color: black;
}

.Table1 .delete {
	height: 32px;
	font-size: 17px;
	color: white;
	background-color: #db2a1a;
	border-radius: 15px;
	margin-left: 5px;
	border: 2px solid #db2a1a;
}

.Table1 .delete:hover {
	background-color: #f28074;
	color: black;
}

/*************************************/

.entry_form {
	margin-top: 1%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 191, 162, 0.1);

}

.entry_form form {
	padding: 3%;
}

.entry_form form label {
	font-size: 18px;
	margin-top: 5px;
}

.entry_form form input {
	width: 50%;
	height: 40px;
}

.entry_form form .sub {
	width: 12%;
	height: 50px;
	font-size: 22px;
	color: white;
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
}

.entry_form form .sub:hover {
	background-color: #59cf5e;
	color: black;
	box-shadow: 5px 5px #888888;
}

.entry_form2 {
	margin-top: 1%;
	width: 100%;
	text-align: center;
	background-color: rgba(245, 191, 162, 0.1);
	
	background-image: url("pic/bg3.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	
}

.entry_form2 form {
	padding: 3%;
}

.entry_form2 form label {
	font-size: 18px;
	margin-top: 5px;
}

.entry_form2 form input {
	width: 50%;
	height: 40px;
}

.entry_form2 form .sub {
	width: 12%;
	height: 50px;
	font-size: 22px;
	color: white;
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
}

.entry_form2 form .sub:hover {
	background-color: #59cf5e;
	color: black;
	box-shadow: 5px 5px #888888;
}

footer {
	padding: 3px;
	font-family: comic sans;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #ddddbb;
	float: bottom;
}

/*************************************/

.complain_box table {
	width: 100%;
	margin: 15px;
	text-align: center;
	font-size: 18px;
}

.complain_box td, tr {
	border: 2px solid #4C8593;
}

.complain_box .solve {
	margin: 10px;
	width: 90px;
	height: 45px;
	font-size: 20px;
	color: white;
	background-color: #7e6db5;
	border: none;
	border-radius: 25px;
	text-align: center;
	border: 3px solid #7e6db5;
}

.complain_box .solve:hover {
	background-color: #ccc5e3;
	color: black;
}

.switch_but {
	position: fixed;
	right: 10px;
	width: 110px;
	margin-top: 10px;
	background-color: white;
	text-align: center;
	border-radius: 15px;
	border: 3px solid #0091ff;
	font-size: 18px;
	padding: 2px;
	color: #0091ff;
}

.switch:hover {
	text-decoration: none;
	color: black;
	box-shadow: 5px 5px #888888;
}

.add_com {
	width: 150px;
	height: 70px;
	font-size: 22px;
	background-color: #4CAF50; 
	border: none;
	border-radius: 10px;
	text-align: center;
	color: white;
	box-shadow: 5px 5px #888888;
}

.add_com:hover {
	background-color: #59cf5e;
	color: black;
	box-shadow: 5px 5px #888888;
}

/* overlay effect */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text .submit {
	margin-left: 35%;
	height: 45px;
	background-color: #43e8a3;
	border: 4px solid #016b3f;
}

#text .submit:hover {
	color: #016b3f;
}

/*Animation Alert */

.boxitm {
    overflow:hidden;
    position:relative;
    position: absolute; 
	bottom: 0px;
	right: 0px;
	text-align: center;
	width: 200px;
	height: auto; 
	margin: 10px;
	font-size: 18px;
	text-decoration-line: center;
	background-size: 60px; 
	background-color: #ddffdd;
	border: 2px solid #4CAF50;
	border-radius: 10px;
	padding: 10px;
}
.boxitm {
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;} 
}

/*Animation Alert  ENd*/

.confirm_mes {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

.del_conf{
  position: absolute;
  width: 380px;
  background-color: white;
  top: 50%;
  left: 50%;
  font-size: 18px;
  border: 3px solid #db2a1a;
  border-radius: 15px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,0.8);
}

.del_conf form {
	margin: 10px;
	font-size: 20px;
}

.del_conf .N_del {
	height: 35px;
	font-size: 17px;
	color: white;
	background-color: #55c96c;
	border-radius: 10px;
	border: 2px solid #55c96c;
	margin-bottom: -5px;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 15px;
}

.del_conf .N_del:hover {
	color: black;
	background-color: #cee0d2;
}

.del_conf .Y_del {
	height: 35px;
	font-size: 17px;
	color: white;
	background-color: #db2a1a;
	border-radius: 10px;
	border: 2px solid #db2a1a;
	cursor: pointer;
	margin-left: 188px;
}

.del_conf .Y_del:hover {
	color: black;
	background-color: #e0bbb8;
}
